fe/node_modules
fe/.pnpm-store
fe/.next

# Ignore bundler config.
be/.bundle

# Ignore all environment files (except templates).
be/.env*
be/!/.env*.erb

# Ignore all logfiles and tempfiles.
be/log/*
be/tmp/*
be/!/log/.keep
be/!/tmp/.keep

# Ignore pidfiles, but keep the directory.
be/tmp/pids/*
be/!/tmp/pids/
be/!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
be/storage/*
be/!/storage/.keep
be/tmp/storage/*
be/!/tmp/storage/
be/!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
be/config/master.key